<% include ./partials/header %>
<div>
    <h1>Campground</h1>
</div>
<div>
    <a href="/campgrounds">Redirect to main page</a>
</div>
<div>
    <h3>Welcome to homepage.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi harum quam facilis! Veniam itaque qui doloremque, voluptas, beatae earum enim soluta libero fuga natus eligendi quis suscipit, iste cumque.</p>
</div>
<% include ./partials/footer %>